<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <style>
        label{
            font-size:1em;
            color:saddleBrown;
            width:200;
            display:table-cell;
        }
        body{
        	background-color:beige;
        }
        .heading{
        	color:burlyWood;
            font-size:1.5em;
		}
		form{
			display:table;
		}
		p{
			display:table-row;
		}
		input{
			display:table-cell;
			margin:1px;
			margin-left:5px;
			border: 2px solid green;
		}
		input:invalid{
			border: 2px dashed red;
		}
    </style>
</head>
<body>
    <div class="heading">
        <h1>Inventory Management System</h1>
    </div>
    <form>
        <button type="submit" formaction="/home">home</button>
    </form>
    <b style="color:gray;"><%=message%></b>
    <form action="/create" method="POST">
    	<p>
    	<label for='itemID'><b>ID:</b></label>
        <input type="text" id="itemID" name="itemID" placeholder="<%= nextID %>" required>*
        </p>
        <p>
        <label for='name'><b>Name:</b></label>
        <input type="text" id="name" name="name" placeholder="" required>*
        </p>
        <p>
        <label for='desc'><b>Description:</b></label>
        <input type="text" id="desc" name="desc" placeholder="">
        </p>
        <p>
        <label for='category'><b>Category:</b></label>
        <input type="text" id="category" name="category" placeholder="" required>*
        </p>
        <p>
		<label for='quantity'><b>Quantity:</b></label>
        <input type="text" id="quantity" name="quantity" placeholder="" required>*
        </p>
        <br>
        <input type="submit" value="Create" /> 
        <br>
    </form>
</body>
</html>
