<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <style>
        label{
            font-size:1em;
            color:saddleBrown;
        }
        body{
        	background-color:beige;
        }
        .reminder{
        	color:gray;
        }
        .heading{
        	color:burlyWood;
            font-size:1.5em;
		}
		ol{
   			padding:0;
    		list-style-position:inside;
    		border:1px solid #ddd;
		}
		li {
			padding:6px;
			border-bottom:1px solid #ddd;
		}
		li:last-child{
			border-bottom:none;
		}
    </style>
</head>
<body>
    <div class="heading">
        <h1>Inventory Management System</h1>
    </div>
    <form>
        <button type="submit" formaction="/home">home</button>
    </form>
    <b class="reminder">enter item ID or item name to search for details.</b>
    <form action="/detail" method="post">
    	<br>
        <label for="itemID"><b>item ID:</b></label>
        <input type="text" id="itemID" name="itemID" placeholder=""><br>
        <label for="itemName"><b>item Name:</b></label>
        <input type="text" id="itemName" name="itemName" palceholder=""><br><br>
    	<input type="submit" value="submit">
    </form>
    <%= msg %>
</body>
</html>

    
