<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <style>
        label{
            font-size:1em;
            color:saddleBrown;
            display:table-cell;
        }
        body{
        	background-color:beige;
        }
        .reminder{
        	color:gray;
        }
        .heading{
        	color:burlyWood;
            font-size:1.5em;
		}
		ol{
   			padding:0;
    		list-style-position:inside;
    		border:1px solid #ddd;
		}
		li {
			padding:6px;
			border-bottom:1px solid #ddd;
		}
		li:last-child{
			border-bottom:none;
		}
		form{
			display:table;
		}
		p{
			display:table-row;
		}
		input{
			display:table-cell;
			margin:1px;
			margin-left:5px;
		}
    </style>
</head>
<body>
    <div class="heading">
        <h1>Inventory Management System</h1>
    </div>
    <form>
        <button type="submit" formaction="/home">home</button>
    </form>
    <b class="reminder">enter info to search for details.</b>
    <form action="/detail" method="post">
    	<p>
        <label for="itemID"><b>Item ID:</b></label>
        <input type="text" id="itemID" name="itemID" placeholder="">
        </p>
        <p>
        <label for="itemName"><b>Item Name:</b></label>
        <input type="text" id="itemName" name="itemName" palceholder="">
        </p>
        <p>
        <label for="Category"><b>Category:</b></label>
        <input type="text" id="category" name="category" palceholder="">
        </p>
        <p>
        <label for="Quantity"><b>Quantity:</b></label>
        <select name="compare" id="compare">
        	<option value="$gte">>=</option>
        	<option value="$lte"><=</option>
        </select>
        <input type="text" id="quantity" name="quantity" palceholder="" size="14">
        </p>
        <br>
    	<input type="submit" value="submit">
    </form>
    <%= msg %>
</body>
</html>

    
